# Node.js
node_modules/
package-lock.json

# Playwright test results
test-results/
playwright-report/
allure-results/
allure-report/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# IDEs/editors
.vscode/
.idea/

# Optional (if using dotenv)
.env
